<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main class="main">
        <aside class="main__aside"></aside>
        <section class="main__content">
            <div class="main__actual">
                <h1>Dear <%= name %>,</h1>
                <p>
                    You requested for a password reset on your acount with us at <a href="http://localhost:4200" class="main__btn" target="_blank">BerBlog Team</a>
                </p>
                <p>
                    In order to complete your password reset, we will like you to click on the provided button below. The provide token to this link will expire after <strong>3 hours</strong>
                </p>
                <a href="http://localhost:4200/reset-password?token=<%= token %>" class="main__btn" target="_blank">Reset Now Now</a>
                <p>
                    In case you didn't initiate this process we advice that you ignore this message thank you
                </p>
                <small>BerBlog Team</small><br>
                <small>&copy; BerBlog 2024 | All rights reserved</small>
            </div>
        </section>
    </main>
</body>
</html>